@page
@model ToBeRenamed.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
    
}

<h2>@ViewData["Title"]</h2>

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <h1>Welcome, @User.Identity.Name</h1>
}