@page "{id:int}"
@model ToBeRenamed.Pages.LibraryModel
@{
    ViewData["Title"] = "Library";
    ViewData["Description"] = "Description";
}

<h2>@Model.Library.Title</h2>
<p>@Model.Library.Description</p>

