@page "{id:int}"
@model ToBeRenamed.Pages.LibraryModel
@{
    ViewData["Title"] = "Library";
    ViewData["Description"] = "Description";
}

<h2>@Model.Library.Title</h2>
<p>@Model.Library.Description</p>

<div class="form-group">
    @*<button type="submit" class="btn btn-default">Edit</button>*@
    <a class="btn btn-default" asp-page="CreateVideo">Add Video</a>
</div>

