@page
@model ToBeRenamed.Pages.LibrariesModel
@{
    ViewData["Title"] = "Libraries";
}

<h2>Libraries</h2>

<ul>
    @foreach (var library in Model.Libraries)
    {
        <li>@library.Id - @library.Title</li>
    }
</ul>