@model Dtos.ReplyDto

<div class="panel panel-default">
    <div class="panel panel-heading reply-header">
        <span class="reply-options glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
        <span class="reply-author block">
            @Model.DisplayName
        </span>
    </div>
    <div class="panel-body reply-body">
        <div class="reply-text-wrapper row">
            <span class="reply-text">
                @Model.Text
            </span>
        </div>
    </div>
</div>